{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_minimoodlewall/local/content/section/cmitem

    Displays a course module item (activity) in the minimal wall format.

    This template extends the core cmitem template.
}}
<li
    class="col-12 col-sm-6 col-md-4 col-lg-3 activity {{module}} modtype_{{module}} {{extraclasses}} {{#cmformat.modhiddenfromstudents}}dimmed{{/cmformat.modhiddenfromstudents}}{{#cmformat.modstealth}}dimmed{{/cmformat.modstealth}}"
    id="module-{{id}}"
    data-for="cmitem"
    data-id="{{id}}"
    {{#cmformat.tagid}}data-tagid="{{cmformat.tagid}}"{{/cmformat.tagid}}
    {{#cmformat.completion.hascompletion}}data-completed="{{#cmformat.completion.iscomplete}}true{{/cmformat.completion.iscomplete}}{{^cmformat.completion.iscomplete}}false{{/cmformat.completion.iscomplete}}"{{/cmformat.completion.hascompletion}}
    style="list-style: none;{{#cmformat.tagcolor}} --mmw-card-accent: {{cmformat.tagcolor}};{{/cmformat.tagcolor}}"
>
{{#cmformat}}
<div class="minimoodlewall-card card h-100" data-cmid="{{cmid}}" data-sectionid="{{sectionid}}">
    {{! Bulk selection checkbox }}
    {{#cmbulk}}
    <div class="bulkselect d-none position-absolute top-0 start-0 m-2" data-for="cmBulkSelect" style="z-index: 10;">
        <input
            id="cmCheckbox{{cmid}}"
            type="checkbox"
            data-id="{{cmid}}"
            data-action="toggleSelectionCm"
            data-bulkcheckbox="1"
            class="form-check-input"
        >
        <label class="visually-hidden" for="cmCheckbox{{cmid}}">
            {{#str}} selectcm, core_courseformat, {{activityname}}{{/str}}
        </label>
    </div>
    {{/cmbulk}}
    {{! Activity card region for drag-drop }}
    <div data-region="activity-card" class="minimoodlewall-card-content">
    {{! Controls (visibility, settings, delete) in top-right corner }}
    {{#controlmenu}}
    <div class="activity-badges position-absolute top-0 end-0 m-2 d-flex align-items-end" style="z-index: 10;">
        {{$ core_courseformat/local/content/cm/controlmenu }}
            {{> format_minimoodlewall/local/content/cm/controlmenu }}
        {{/ core_courseformat/local/content/cm/controlmenu }}
    </div>
    {{/controlmenu}}
    {{! Tag Image at top }}
    <div class="minimoodlewall-card-image{{#imgplacement}} {{imgplacement}}{{/imgplacement}}{{#imgsize}} imgsize-{{imgsize}}{{/imgsize}}">
        {{#tagimage}}
        <img src="{{tagimage}}" alt="{{tagname}}" class="w-100">
        {{/tagimage}}
        {{^tagimage}}
        <div class="minimoodlewall-card-placeholder"></div>
        {{/tagimage}}
    </div>
    
    {{! Completion indicator overlay (top-right) - hidden in editing mode }}
    {{^editing}}
    {{#completion}}
    {{#hascompletion}}
    <div class="minimoodlewall-completion-badge">
        {{#iscomplete}}
        <span class="badge-complete" title="{{#str}}completed, format_minimoodlewall{{/str}}">
            <i class="fa fa-check"></i>
        </span>
        {{/iscomplete}}
        {{^iscomplete}}
        <span class="badge-incomplete" title="{{#str}}notcompleted, format_minimoodlewall{{/str}}">
        </span>
        {{/iscomplete}}
    </div>
    {{/hascompletion}}
    {{/completion}}
    {{/editing}}
    
    {{! Card body with activity name }}
    <div class="card-body minimoodlewall-card-body">
        {{! Activity name with inplace editable support }}
        <div class="minimoodlewall-card-description text-muted small">
            {{#cmname}}
                {{$ core_courseformat/local/content/cm/cmname }}
                    {{> format_minimoodlewall/local/content/cm/cmname }}
                {{/ core_courseformat/local/content/cm/cmname }}
            {{/cmname}}
            {{^cmname}}
                {{! Fallback if cmname is not available }}
                {{#url}}
                <a href="{{url}}" class="activity-link stretched-link">
                    {{activityname}}
                </a>
                {{/url}}
                {{^url}}
                {{activityname}}
                {{/url}}
            {{/cmname}}
        </div>
    </div>
    </div>
</div>
{{/cmformat}}
</li>
