{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_mimo/local/content/section/cmitem

    Displays a course module item (activity) in the minimal wall format.

    This template extends the core cmitem template.

    Example context (json):
    {
        "id": 3,
        "module": "forum",
        "extraclasses": "",
        "cmformat": {
            "cmid": 3,
            "sectionid": 1,
            "activityname": "Forum example",
            "tagname": "Tag 1",
            "tagimage": "",
            "tagcolor": "#3366cc",
            "tagid": 1,
            "imgplacement": "",
            "imgsize": "",
            "modhiddenfromstudents": false,
            "modstealth": false,
            "isdone": false,
            "editing": false,
            "controlmenu": false,
            "cmbulk": false,
            "cmname": {
                "displayvalue": "Forum example",
                "url": "#"
            },
            "url": "#",
            "completion": {
                "hascompletion": true,
                "iscomplete": false,
                "isoverdue": false,
                "isteacherview": false
            }
        }
    }
}}
<li
    class="col-12 col-sm-6 col-md-4 col-lg-3 activity {{module}} modtype_{{module}} {{extraclasses}} {{#cmformat.modhiddenfromstudents}}dimmed{{/cmformat.modhiddenfromstudents}}{{#cmformat.modstealth}}dimmed{{/cmformat.modstealth}}{{#cmformat.isdone}} mimo-done{{/cmformat.isdone}}"
    id="module-{{id}}"
    data-for="cmitem"
    data-id="{{id}}"
    {{#cmformat.tagid}}data-tagid="{{cmformat.tagid}}"{{/cmformat.tagid}}
    {{#cmformat.completion.hascompletion}}data-completed="{{#cmformat.completion.iscomplete}}true{{/cmformat.completion.iscomplete}}{{^cmformat.completion.iscomplete}}false{{/cmformat.completion.iscomplete}}"{{/cmformat.completion.hascompletion}}
    {{#cmformat.isdone}}data-done="true"{{/cmformat.isdone}}
    {{#cmformat.completion.isoverdue}}data-overdue="true"{{/cmformat.completion.isoverdue}}
    style="list-style: none;{{#cmformat.tagcolor}} --mimo-card-accent: {{cmformat.tagcolor}};{{/cmformat.tagcolor}}"
>
{{#cmformat}}
<div class="mimo-card card h-100" data-cmid="{{cmid}}" data-sectionid="{{sectionid}}">
    {{! Bulk selection checkbox }}
    {{#cmbulk}}
    <div class="bulkselect d-none position-absolute top-0 start-0 m-2" data-for="cmBulkSelect" style="z-index: 10;">
        <input
            id="cmCheckbox{{cmid}}"
            type="checkbox"
            data-id="{{cmid}}"
            data-action="toggleSelectionCm"
            data-bulkcheckbox="1"
            class="form-check-input"
        >
        <label class="visually-hidden" for="cmCheckbox{{cmid}}">
            {{#str}} selectcm, core_courseformat, {{activityname}}{{/str}}
        </label>
    </div>
    {{/cmbulk}}
    {{! Activity card region for drag-drop }}
    <div data-region="activity-card" class="mimo-card-content">
    {{! Controls (visibility, settings, delete) in top-right corner }}
    {{#controlmenu}}
    <div class="activity-badges position-absolute top-0 end-0 m-2 d-flex align-items-end" style="z-index: 10;">
        {{$ core_courseformat/local/content/cm/controlmenu }}
            {{> format_mimo/local/content/cm/controlmenu }}
        {{/ core_courseformat/local/content/cm/controlmenu }}
    </div>
    {{/controlmenu}}
    {{! Tag Image at top }}
    <div class="mimo-card-image{{#imgplacement}} {{imgplacement}}{{/imgplacement}}{{#imgsize}} imgsize-{{imgsize}}{{/imgsize}}">
        {{#tagimage}}
        <img src="{{tagimage}}" alt="{{tagname}}" class="w-100">
        {{/tagimage}}
        {{^tagimage}}
        <div class="mimo-card-placeholder"></div>
        {{/tagimage}}
        {{#tagname}}
        <span class="mimo-tag-pill">{{tagname}}</span>
        {{/tagname}}
    </div>
    
    {{! Completion indicator overlay (top-right) - hidden in editing mode }}
    {{^editing}}
    {{#completion}}
    {{#hascompletion}}
    <div class="mimo-completion-badge{{#isdone}} mimo-completion-greyed{{/isdone}}">
        {{#isteacherview}}
        <a href="{{reporturl}}" class="badge-teacher-completion" title="{{#str}}teachercompletiontitle, format_mimo{{/str}}">
            <span class="badge-teacher-completion__count">{{completedcount}}</span>
            <span class="badge-teacher-completion__total">{{trackedtotal}}</span>
        </a>
        {{/isteacherview}}
        {{^isteacherview}}
        {{#iscomplete}}
        <span class="badge-complete" title="{{#str}}completed, format_mimo{{/str}}">
            <i class="fa fa-check"></i>
        </span>
        {{/iscomplete}}
        {{^iscomplete}}
        {{#isoverdue}}
        <span class="badge-overdue" title="{{#str}}overdue, format_mimo{{/str}}">
            <i class="fa fa-times"></i>
        </span>
        {{/isoverdue}}
        {{^isoverdue}}
        <span class="badge-incomplete" title="{{#str}}notcompleted, format_mimo{{/str}}">
            <i class="fa fa-hourglass-half"></i>
        </span>
        {{/isoverdue}}
        {{/iscomplete}}
        {{/isteacherview}}
    </div>
    {{/hascompletion}}
    {{/completion}}
    {{/editing}}
    
    {{! Card body with activity name }}
    <div class="card-body mimo-card-body">
        {{! Activity name with inplace editable support }}
        <div class="mimo-card-description text-muted small">
            {{#cmname}}
                {{$ core_courseformat/local/content/cm/cmname }}
                    {{> format_mimo/local/content/cm/cmname }}
                {{/ core_courseformat/local/content/cm/cmname }}
            {{/cmname}}
            {{^cmname}}
                {{! Fallback if cmname is not available }}
                {{#url}}
                <a href="{{url}}" class="activity-link stretched-link">
                    {{activityname}}
                </a>
                {{/url}}
                {{^url}}
                {{activityname}}
                {{/url}}
            {{/cmname}}
        </div>
    </div>
    </div>
</div>
{{/cmformat}}
</li>
