{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_mimo/local/content

    Displays the complete course format as a minimal wall with all activities.

    This template extends the core content template.

    Example context (json):
    {
        "course": {
            "id": 2
        }
    }
}}
{{!
    MDL-87236 workaround: Intercept component.init() to delay until reactive is ready.
    This prevents the parent template's immediate init() call from executing before
    the CourseEditor reactive instance is fully initialized.
}}
{{#js}}
require(['core_courseformat/local/content', 'core_courseformat/courseeditor'], function(component, courseEditor) {
    const originalInit = component.init;

    component.init = function(...args) {
        const reactive = courseEditor.getCurrentCourseEditor();
        if (reactive && reactive.state) {
            return originalInit.apply(this, args);
        } else {
            setTimeout(() => {
                component.init(...args);
            }, 50);
            return null;
        }
    };
});
{{/js}}
{{< core_courseformat/local/content }}
    {{! Override the section block to use our custom section template. }}
    {{$ core_courseformat/local/content/section }}
        {{> format_mimo/local/content/section }}
    {{/ core_courseformat/local/content/section }}
{{/ core_courseformat/local/content }}

{{!
    The "Add section" button is only shown on the overview page.
    It is not rendered here on individual wall pages.
}}

{{!
    The parent template's JS block will call component.init(), but we've
    wrapped it above to delay until reactive.state is ready (MDL-87236).
    No additional JS needed here - the wrapper handles everything.
}}
