{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_minimoodlewall/local/overview

    Multi-section overview landing page showing all sections as clickable cards.

    Context variables required for this template:
    * isoverview - bool - Always true for this template
    * overviewsections - array - Section card data
    * hassections - bool - Whether there are sections to display
    * isediting - bool - Whether editing mode is active
    * bgdesignclass - string - Background design CSS class
    * styleclass - string - Style variant CSS class
    * mmwaddsection - object - Add section data (editing mode)
    * bulkedittools - object - Bulk edit tools data (editing mode)

    Each overviewsection may contain:
    * hassectionimage - bool - Whether a custom image exists for this section
    * sectionimageurl - string - URL of the uploaded section image
}}
<div class="mmw-overview {{styleclass}}">
    <h2 class="accesshide">{{{title}}}</h2>
    <div class="mmw-bgdesign-wrapper {{bgdesignclass}}">
        {{#hassections}}
        <div class="mmw-overview-grid" data-region="mmw-overview-grid" data-section0id="{{section0id}}">
            {{#overviewsections}}
            {{#isediting}}
            <div class="mmw-overview-card mmw-overview-card--editing" data-for="mmw-overview-card" data-id="{{id}}" data-section-num="{{num}}" data-section-id="{{id}}">
                <div class="mmw-overview-card__body">
                    <h3 class="mmw-overview-card__name" draggable="false">{{{inplaceeditable}}}</h3>
                    {{#hassummary}}
                    <div class="mmw-overview-card__summary">{{{summary}}}</div>
                    {{/hassummary}}
                </div>
                {{#hassectionimage}}
                <div class="mmw-overview-card__sectionimage-wrap">
                    <img src="{{sectionimageurl}}" class="mmw-overview-card__sectionimage" alt="{{name}}" />
                </div>
                {{/hassectionimage}}
                {{^hassectionimage}}
                {{#hasminitiles}}
                <div class="mmw-overview-card__miniwall">
                    {{#minitiles}}
                    <span class="mmw-overview-card__minitile" style="background: {{color}}">
                        {{#hasimage}}<img src="{{image}}" class="mmw-overview-card__minitile-img" alt="" />{{/hasimage}}
                    </span>
                    {{/minitiles}}
                </div>
                {{/hasminitiles}}
                {{/hassectionimage}}
                <div class="mmw-overview-card__footer" draggable="false">
                    <button type="button" class="btn btn-sm btn-outline-secondary" draggable="false"
                        data-action="section-image"
                        data-courseid="{{courseid}}"
                        data-sectionid="{{id}}"
                        data-sectionname="{{name}}">
                        {{#hassectionimage}}
                        {{#str}}sectionimage_change, format_minimoodlewall{{/str}}
                        {{/hassectionimage}}
                        {{^hassectionimage}}
                        {{#str}}sectionimage_upload, format_minimoodlewall{{/str}}
                        {{/hassectionimage}}
                    </button>
                    <a href="{{url}}" class="mmw-overview-card__link btn btn-sm btn-outline-primary" draggable="false">
                        {{#str}}viewactivity, format_minimoodlewall{{/str}}
                    </a>
                    {{#candeletesection}}
                    <button type="button" class="btn btn-sm btn-outline-danger" draggable="false"
                        data-action="delete-section"
                        data-section-id="{{id}}"
                        data-section-name="{{name}}"
                        data-activity-count="{{activitycount}}"
                        title="{{#str}}deletesection, format_minimoodlewall{{/str}}">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        <span class="sr-only">{{#str}}deletesection, format_minimoodlewall{{/str}}</span>
                    </button>
                    {{/candeletesection}}
                </div>
            </div>
            {{/isediting}}
            {{^isediting}}
            <a href="{{url}}" class="mmw-overview-card" data-section-num="{{num}}">
                <div class="mmw-overview-card__body">
                    <h3 class="mmw-overview-card__name">{{name}}</h3>
                    {{#hassummary}}
                    <div class="mmw-overview-card__summary">{{{summary}}}</div>
                    {{/hassummary}}
                </div>
                {{#hassectionimage}}
                <div class="mmw-overview-card__sectionimage-wrap">
                    <img src="{{sectionimageurl}}" class="mmw-overview-card__sectionimage" alt="{{name}}" />
                </div>
                {{/hassectionimage}}
                {{^hassectionimage}}
                {{#hasminitiles}}
                <div class="mmw-overview-card__miniwall">
                    {{#minitiles}}
                    <span class="mmw-overview-card__minitile" style="background: {{color}}">
                        {{#hasimage}}<img src="{{image}}" class="mmw-overview-card__minitile-img" alt="" />{{/hasimage}}
                    </span>
                    {{/minitiles}}
                </div>
                {{/hasminitiles}}
                {{/hassectionimage}}
                {{#hastracking}}
                <div class="mmw-overview-card__footer">
                    <span class="mmw-overview-card__progress{{#allcomplete}} mmw-overview-card__progress--complete{{/allcomplete}}">
                        <span class="mmw-overview-card__progress-bar">
                            <span class="mmw-overview-card__progress-fill" style="width: {{#totaltracked}}calc({{completedcount}} / {{totaltracked}} * 100%){{/totaltracked}}"></span>
                        </span>
                        <span class="mmw-overview-card__progress-text">{{completedcount}} / {{totaltracked}}</span>
                    </span>
                </div>
                {{/hastracking}}
            </a>
            {{/isediting}}
            {{/overviewsections}}
        </div>
        {{/hassections}}
        {{^hassections}}
        <div class="mmw-overview-empty">
            <p>{{#str}}overviewnosections, format_minimoodlewall{{/str}}</p>
        </div>
        {{/hassections}}
    </div>

    {{#mmwaddsection}}
        {{> core_courseformat/local/content/addsection}}
    {{/mmwaddsection}}

    {{#bulkedittools}}
        {{> core_courseformat/local/content/bulkedittools}}
    {{/bulkedittools}}
</div>

{{#isediting}}
{{#js}}
require(['format_minimoodlewall/section_image_modal'], function(mod) { mod.init(); });
require(['format_minimoodlewall/section_overview_actions'], function(mod) { mod.init(); });
{{/js}}
{{/isediting}}
