{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_mimo/description_tags_list

    Description tag list for management page.

    Context variables required for this template:
    * createurl - URL to create new tag
    * tags - Array of tag objects
    * notags - Boolean, true if no tags exist

    Example context (json):
    {
        "createurl": "http://example.com/create",
        "tags": [
            {
                "name": "Assessment",
                "color": "#FF5733",
                "usagecount": 5,
                "editurl": "http://example.com/edit?id=1",
                "deleteurl": "http://example.com/delete?id=1",
                "editicon": "<svg>...</svg>",
                "deleteicon": "<svg>...</svg>"
            }
        ],
        "notags": false
    }
}}

<div class="description-tags-management" data-region="tag-management">
    <div class="mb-3">
        <button type="button" class="btn btn-primary" data-action="create-tag" data-testid="create-tag-button">
            {{#str}}createdesctag, format_mimo{{/str}}
        </button>
    </div>

    {{#notags}}
        <div class="alert alert-info">
            {{#str}}nodesctags, format_mimo{{/str}}
        </div>
    {{/notags}}

    {{^notags}}
        <table class="table table-striped generaltable" data-region="tag-list-table" data-testid="tag-list-table">
            <thead>
                <tr>
                    <th>{{#str}}desctagname, format_mimo{{/str}}</th>
                    <th>{{#str}}desctagcolor, format_mimo{{/str}}</th>
                    <th>{{#str}}usage, format_mimo{{/str}}</th>
                    <th>{{#str}}actions{{/str}}</th>
                </tr>
            </thead>
            <tbody>
                {{#tags}}
                <tr data-testid="tag-row" data-tag-id="{{id}}" data-tag-name="{{name}}">
                    <td>{{name}}</td>
                    <td>
                        <span class="color-preview" data-testid="tag-color-preview" style="display:inline-block;width:30px;height:20px;background-color:{{color}};border:1px solid #ccc;vertical-align:middle;"></span>
                        <span class="ml-2">{{color}}</span>
                    </td>
                    <td>{{usagecount}}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-link p-0" data-action="edit-tag" data-testid="edit-tag-button" data-id="{{id}}" aria-label="{{#str}}edit{{/str}} {{name}}">
                            {{{editicon}}}
                        </button>
                        <button type="button" class="btn btn-sm btn-link p-0 ml-2" data-action="delete-tag" data-testid="delete-tag-button" data-id="{{id}}" data-name="{{name}}" data-usagecount="{{usagecount}}" aria-label="{{#str}}delete{{/str}} {{name}}">
                            {{{deleteicon}}}
                        </button>
                    </td>
                </tr>
                {{/tags}}
            </tbody>
        </table>
    {{/notags}}
</div>
