{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_minimoodlewall/local/content/cm/controlmenu

    Displays visibility dropdown directly without three-dots menu wrapper.
}}
{{#hasmenu}}
<div class="mmw-card-controls d-flex flex-column align-items-center gap-1" style="position: relative; z-index: 100;">
{{#visibility}}
<div class="visibility-icon-control">
{{#isInteractive}}
{{#dropwdown}}
{{> core/local/dropdown/status }}
{{/dropwdown}}
{{/isInteractive}}
</div>
{{/visibility}}
{{#settingsurl}}
<a href="{{settingsurl}}" class="mmw-icon-btn" role="button"
   title="{{#str}}editsettings, moodle{{/str}}">
    <i class="fa fa-cog" aria-hidden="true"></i>
    <span class="visually-hidden">{{#str}}editsettings, moodle{{/str}}</span>
</a>
{{/settingsurl}}
{{#cmid}}
<a href="#" class="mmw-icon-btn mmw-icon-btn-danger" role="button"
   data-action="cmDelete" data-id="{{cmid}}"
   title="{{#str}}delete, moodle{{/str}}">
    <i class="fa fa-trash" aria-hidden="true"></i>
    <span class="visually-hidden">{{#str}}delete, moodle{{/str}}</span>
</a>
{{/cmid}}
</div>
{{/hasmenu}}
